#conteneur{
  grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "footer footer footer footer";
  max-width: 450px;
  margin: auto;
  grid-template-columns: repeat(4, 112.5px);
  grid-template-rows: repeat(6, 100px);
  grid-gap: 4px;
  display: grid;
}

header {
  grid-area: header;
  background-color: aquamarine;
    padding: 27px;
}

main {
  grid-area: main;
  background-color: aquamarine;
    padding: 27px;
}

aside {
  grid-area: aside;
  background-color: aquamarine;
    padding: 27px;
}

nav {
  grid-area: nav;
  background-color: aquamarine;
    padding: 27px;
}

footer {
  grid-area: footer;
  background-color: aquamarine;
    padding: 27px;
}